.container {
    width: 1440px;
    margin: auto;
    @include respond(petit){
       width: 100%;
       margin: auto;
    }
    @include respond(moyen){
       width: 100%;
       margin: auto;
    }
}