nav {
    display: flex;
    width: 100%;
    padding: 1%;
    justify-content: space-between;

    @include respond(petit) {
        flex-direction: column;
        padding: 0;
    }
}

.nav__logo {
    width: 50%;
    position: relative;
    display: flex;
    height: 60px;

    img {
        width: 35%;
    }

    @include respond(petit) {
        width: 100%;
        justify-content: center;
        box-shadow: 0 2px 5px #cfcfcf;
        padding-top: 2%;

    }
}

.nav__localisation {
    width: 50%;
    display: flex;
    height: 50px;
    align-items: center;


    .nav__localisation--txt {
        width: 100%;
        color: #353535;
        font-weight: 700;
        font-size: 1em;
        text-align: end;

        .nav__localisation--icon {
            margin-right: 2%;
        }
    }

    @include respond(petit) {
        width: 100%;
        justify-content: center;
        align-items: center;
        background: #EAEAEA;

        .nav__localisation--txt {
            width: 40%;
            text-align: start;
        }

        .nav__localisation--icon {
            margin-right: 5%;
        }
    }
}

.nav__Menu {
    width: 100%;

    height: 60px;
    @include flex_center;
    justify-content: space-between;
    position: relative;

    .nav__arrow {
        position: absolute;
        color: black;
        margin-left: 5%;
        font-size: 1.5em;
    }

    .nav__logo--menu {
        width: 100%;
        @include flex_center;
    }
}
